@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poly:ital@0;1&display=swap');
@font-face{
 font-family:'digital-clock-font';
 src: url('DS-DIGI.TTF');
}

:root {
    --background-color1: #242350;
    --background-color2: #C4EDFF;
    --background-color3: #A0CEF7;
    --text-color: #fefefe;
    --border-color: #ddd;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    font-family: "Instrument Serif", serif;
}   

body {
    background: var(--background-color1);
    font-family: "Instrument Serif", serif;
    margin: 0;
    color: var(--text-color);
    overflow-x: hidden;
}

.section{
	height:100vh;
	display: flex;
	align-items:center;
	justify-content:center;
    font-size: 60px;
    background: transparent;
    position: relative;
}

.intro-section{
    background: var(--background-color2);
}

.intro{
    position: relative;
}

.intro2{
    position: relative;
}

.intro3{
    position: relative;
}

.intro4{
    position: relative;
}

.whatif{
    background: var(--background-color1);
    flex-direction: column;
    flex: 1;   
    position: relative;
}

.nochoice-section{
    background: var(--background-color1);
}

.candle-container{
    /* position: relative; */
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.candle1{
    position: absolute;
    /* top: 60%; */
    bottom: 0px;
    /* width: 30%; */
    width: clamp(460px, 18vw, 420px);
    height: auto;
}

.candle2{
    position: absolute;
    /* width: 80%;
    height: auto; */
    width: clamp(670px, 20vw, 460px);
    height: clamp(670px, 20vw, 460px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 20%; */
    bottom: -15%;
}

.image-container{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10 px;
    flex-grow: 1;
    align-items: center;
    padding-left: 41%;
}

.intro-image{
    width: 130%;
    height: auto;
    left: -8%;
    object-fit: fill;
    position: absolute;
}

.intro2-image{
    width: 120%;
    height: auto;
    left: -8%;
    object-fit: fill;
    position: absolute;
}

.intro3-image{
    width: 120%;
    height: auto;
    left: -8%;
    top: 250px;
    object-fit: fill;
    position: absolute;
}

.intro4-image{
    width: 50%;
    height: auto;
    position: absolute;
    left: 25%;
    top:15%
}

.leaves-text{
    position: absolute;
    color:#3E3314;
    left: 20%;
}

.title-text{
    position: absolute;
    color:#3E7F9B;
    right: 100px;
}

.winter-text{
    position: absolute;
    color:#fff;
    right: 100px;
    top:40px;
}

.sucks-text{
    position: absolute;
    color:#fff;
    left: 50px;
    bottom: 5%;
}

.time-text{
    position: relative;
    overflow: hidden;
    color:#807DFF;
    /* left: 50%;
    top: -25px; */
    font-family: 'digital-clock-font', monospace;
    display: inline-block;
    min-width: 100px;
    text-align: center;

}

.sunset-image{
    width: 50px;
    height: 50px;
    /* position: absolute; */
    /* left: 50%;
    top: -25px; */
}

.whatif-text{
    top: 20%;
}

.sun-image{
    width: 28%;
    height: auto;
    position: absolute;
    right: 37%;
    top: 29%;
    transform: translateY(100%);
}

.lights-image{
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
}

.lights2-image{
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
}

.record-image{
    width: 55%;
    height: auto;
    position: absolute;
    bottom: -30%;
    left: -15%;
}

.record2-image{
    width: 55%;
    height: auto;
    position: absolute;
    bottom: -30%;
    left: -15%;
}

.bookshelf-image{
    width: 40%;
    height: auto;
    position: absolute;
    bottom: -10%;
    right: -5%;
}

.switch-image{
    width: 70px;
    height: auto;
    position: absolute;
    bottom: 50%;
    right: 5%;
}

.switch2-image{
    width: 70px;
    height: auto;
    position: absolute;
    bottom: 50%;
    right: 5%;
}

.activities1-text{
    position: absolute;
    color:#fff;
    top: 45%;
    right: 15%;
    font-size: 40px;
}

.activities2-text{
    position: absolute;
    color:#fff;
    top: 55%;
    left: 25%;
    font-size: 40px;
}

.activities3-text{
    position: absolute;
    color:#fff;
    top: 65%;
    right: 5%;
    font-size: 40px;
}

.oval1-image{
    width: 65%;
    height: auto;
    position: absolute;
    bottom: -50%;
    left: -10%;
}

.oval2-image{
    width: 65%;
    height: auto;
    position: absolute;
    bottom: -50%;
    right: -10%;
}

.arrow1-image{
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 37%;
    right: 7%;
}

.arrow2-image{
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 32%;
    left: 15%;
}

.music-notes{
    display: flex;
    justify-content: center;
}

.last{
    padding-top:20%;
}

.last-section{
    height: 150vh;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
}

/*Mobile landscape styles */
@media (max-width: 768px) {

  .section {
    height: 100vh;
    min-height: 100vh;
    font-size: 32px;
  }

  p {
    font-size: 22px;
    line-height: 1.3;
  }

  .intro-image,
  .intro2-image,
  .intro3-image {
    width: 120%;
    right: 10%;
    top: 20%;
  }

  .intro4-image {
    width: 70%;
    left: 15%;
    top: 18%;
  }

  .sun-image {
    width: 40%;
    right: 30%;
    top: 35%;
  }

  .record-image,
  .record2-image {
    width: 60%;
    /* left: 20%; */
    bottom: -20%;
  }

  .bookshelf-image {
    width: 45%;
    right: 0;
    bottom: -10%;
  }

  .switch-image,
  .switch2-image {
    width: 48px;
  }

  .activities1-text{
    font-size: 15px;
    max-width: 80%;
  }

  .activities2-text{
    font-size: 15px;
    max-width: 80%;
    left: 30%;
    bottom:20%;
  }
  .activities3-text {
    font-size: 15px;
    max-width: 80%;
    right: 10%;
    top: 70%;
  }

  .arrow1-image{
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 40%;
    right: 7%;
}

.arrow2-image{
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 32%;
    left: 15%;
}

.title-text{
    top:20%;
  }

  /* .oval1-image,
  .oval2-image {
    width: 75%;
    bottom: -30%;
  } */

}

